#anim-circles-container {
  width: 400px;
  height: 400px;
  background: #0b0f46;
  position: relative;
  display: inline-block;
}

#anim-circles-container, #cont2 {
  margin-right: 4px;
}

#cont2, #cont3 {
  width: 400px;
  height: 400px;
  background: #0b0f46;
  position: relative;
  display: inline-block;
}

div.anim-circle {
  width: 108px;
  height: 1px;
  opacity: 0.7;
  position: absolute;
}

div#circle-0,
div#circle-1,
div#circle-2,
div#circle-3,
div#circle-4,
div#circle-5,
div#circle-6,
div#circle-7,
div#circle-8,
div#circle-9,
div#circle-10,
div#circle-11,
div#circle-12,
div#circle-13,
div#circle-14,
div#circle-15,
div#circle-16,
div#circle-17,
div#circle-18,
div#circle-19,
div#circle-20,
div#circle-21,
div#circle-22,
div#circle-23,
div#circle-24,
div#circle-25,
div#circle-26,
div#circle-27,
div#circle-28,
div#circle-29,
div#circle-30,
div#circle-31,
div#circle-32,
div#circle-33,
div#circle-34,
div#circle-35,
div#circle-36,
div#circle-37,
div#circle-38,
div#circle-39,
div#circle-40,
div#circle-41,
div#circle-42,
div#circle-43,
div#circle-44,
div#circle-45,
div#circle-46,
div#circle-47,
div#circle-48,
div#circle-49,
div#circle-50,
div#circle-51,
div#circle-52,
div#circle-53,
div#circle-54,
div#circle-55,
div#circle-56,
div#circle-57,
div#circle-58,
div#circle-59,
div#circle-60,
div#circle-61,
div#circle-62,
div#circle-63,
div#circle-64,
div#circle-65,
div#circle-66,
div#circle-67,
div#circle-68,
div#circle-69,
div#circle-70,
div#circle-71,
div#circle-72,
div#circle-73,
div#circle-74,
div#circle-75,
div#circle-76,
div#circle-77,
div#circle-78,
div#circle-79,
div#circle-80,
div#circle-81,
div#circle-82,
div#circle-83,
div#circle-84,
div#circle-85,
div#circle-86,
div#circle-87,
div#circle-88,
div#circle-89,
div#circle-90,
div#circle-91,
div#circle-92,
div#circle-93,
div#circle-94,
div#circle-95,
div#circle-96,
div#circle-97,
div#circle-98,
div#circle-99,
div#circle-100,
div#circle-101,
div#circle-102,
div#circle-103,
div#circle-104,
div#circle-105,
div#circle-106,
div#circle-107,
div#circle-108,
div#circle-109,
div#circle-110,
div#circle-111,
div#circle-112,
div#circle-113,
div#circle-114,
div#circle-115,
div#circle-116,
div#circle-117,
div#circle-118,
div#circle-119,
div#circle-120,
div#circle-121,
div#circle-122,
div#circle-123,
div#circle-124,
div#circle-125,
div#circle-126,
div#circle-127,
div#circle-128,
div#circle-129,
div#circle-130,
div#circle-131,
div#circle-132,
div#circle-133 { animation: animo 3s ease-in-out 0s infinite alternate}

div#circle-0 { animation-delay: 0s; top: 0px }
div#circle-1 { animation-delay: 0.05s; top: 3px }
div#circle-2 { animation-delay: 0.1s; top: 6px }
div#circle-3 { animation-delay: 0.15s; top: 9px }
div#circle-4 { animation-delay: 0.2s; top: 12px }
div#circle-5 { animation-delay: 0.25s; top: 15px }
div#circle-6 { animation-delay: 0.3s; top: 18px }
div#circle-7 { animation-delay: 0.35s; top: 21px }
div#circle-8 { animation-delay: 0.4s; top: 24px }
div#circle-9 { animation-delay: 0.45s; top: 27px }
div#circle-10 { animation-delay: 0.5s; top: 30px }
div#circle-11 { animation-delay: 0.55s; top: 33px }
div#circle-12 { animation-delay: 0.6s; top: 36px }
div#circle-13 { animation-delay: 0.65s; top: 39px }
div#circle-14 { animation-delay: 0.7s; top: 42px }
div#circle-15 { animation-delay: 0.75s; top: 45px }
div#circle-16 { animation-delay: 0.8s; top: 48px }
div#circle-17 { animation-delay: 0.85s; top: 51px }
div#circle-18 { animation-delay: 0.9s; top: 54px }
div#circle-19 { animation-delay: 0.95s; top: 57px }
div#circle-20 { animation-delay: 1s; top: 60px }
div#circle-21 { animation-delay: 1.05s; top: 63px }
div#circle-22 { animation-delay: 1.1s; top: 66px }
div#circle-23 { animation-delay: 1.15s; top: 69px }
div#circle-24 { animation-delay: 1.2s; top: 72px }
div#circle-25 { animation-delay: 1.25s; top: 75px }
div#circle-26 { animation-delay: 1.3s; top: 78px }
div#circle-27 { animation-delay: 1.35s; top: 81px }
div#circle-28 { animation-delay: 1.4s; top: 84px }
div#circle-29 { animation-delay: 1.45s; top: 87px }
div#circle-30 { animation-delay: 1.5s; top: 90px }
div#circle-31 { animation-delay: 1.55s; top: 93px }
div#circle-32 { animation-delay: 1.6s; top: 96px }
div#circle-33 { animation-delay: 1.65s; top: 99px }
div#circle-34 { animation-delay: 1.7s; top: 102px }
div#circle-35 { animation-delay: 1.75s; top: 105px }
div#circle-36 { animation-delay: 1.8s; top: 108px }
div#circle-37 { animation-delay: 1.85s; top: 111px }
div#circle-38 { animation-delay: 1.9s; top: 114px }
div#circle-39 { animation-delay: 1.95s; top: 117px }
div#circle-40 { animation-delay: 2s; top: 120px }
div#circle-41 { animation-delay: 2.05s; top: 123px }
div#circle-42 { animation-delay: 2.1s; top: 126px }
div#circle-43 { animation-delay: 2.15s; top: 129px }
div#circle-44 { animation-delay: 2.2s; top: 132px }
div#circle-45 { animation-delay: 2.25s; top: 135px }
div#circle-46 { animation-delay: 2.3s; top: 138px }
div#circle-47 { animation-delay: 2.35s; top: 141px }
div#circle-48 { animation-delay: 2.4s; top: 144px }
div#circle-49 { animation-delay: 2.45s; top: 147px }
div#circle-50 { animation-delay: 2.5s; top: 150px }
div#circle-51 { animation-delay: 2.55s; top: 153px }
div#circle-52 { animation-delay: 2.6s; top: 156px }
div#circle-53 { animation-delay: 2.65s; top: 159px }
div#circle-54 { animation-delay: 2.7s; top: 162px }
div#circle-55 { animation-delay: 2.75s; top: 165px }
div#circle-56 { animation-delay: 2.8s; top: 168px }
div#circle-57 { animation-delay: 2.85s; top: 171px }
div#circle-58 { animation-delay: 2.9s; top: 174px }
div#circle-59 { animation-delay: 2.95s; top: 177px }
div#circle-60 { animation-delay: 3s; top: 180px }
div#circle-61 { animation-delay: 3.05s; top: 183px }
div#circle-62 { animation-delay: 3.1s; top: 186px }
div#circle-63 { animation-delay: 3.15s; top: 189px }
div#circle-64 { animation-delay: 3.2s; top: 192px }
div#circle-65 { animation-delay: 3.25s; top: 195px }
div#circle-66 { animation-delay: 3.3s; top: 198px }
div#circle-67 { animation-delay: 3.35s; top: 201px }
div#circle-68 { animation-delay: 3.4s; top: 204px }
div#circle-69 { animation-delay: 3.45s; top: 207px }
div#circle-70 { animation-delay: 3.5s; top: 210px }
div#circle-71 { animation-delay: 3.55s; top: 213px }
div#circle-72 { animation-delay: 3.6s; top: 216px }
div#circle-73 { animation-delay: 3.65s; top: 219px }
div#circle-74 { animation-delay: 3.7s; top: 222px }
div#circle-75 { animation-delay: 3.75s; top: 225px }
div#circle-76 { animation-delay: 3.8s; top: 228px }
div#circle-77 { animation-delay: 3.85s; top: 231px }
div#circle-78 { animation-delay: 3.9s; top: 234px }
div#circle-79 { animation-delay: 3.95s; top: 237px }
div#circle-80 { animation-delay: 4s; top: 240px }
div#circle-81 { animation-delay: 4.05s; top: 243px }
div#circle-82 { animation-delay: 4.1s; top: 246px }
div#circle-83 { animation-delay: 4.15s; top: 249px }
div#circle-84 { animation-delay: 4.2s; top: 252px }
div#circle-85 { animation-delay: 4.25s; top: 255px }
div#circle-86 { animation-delay: 4.3s; top: 258px }
div#circle-87 { animation-delay: 4.35s; top: 261px }
div#circle-88 { animation-delay: 4.4s; top: 264px }
div#circle-89 { animation-delay: 4.45s; top: 267px }
div#circle-90 { animation-delay: 4.5s; top: 270px }
div#circle-91 { animation-delay: 4.55s; top: 273px }
div#circle-92 { animation-delay: 4.6s; top: 276px }
div#circle-93 { animation-delay: 4.65s; top: 279px }
div#circle-94 { animation-delay: 4.7s; top: 282px }
div#circle-95 { animation-delay: 4.75s; top: 285px }
div#circle-96 { animation-delay: 4.8s; top: 288px }
div#circle-97 { animation-delay: 4.85s; top: 291px }
div#circle-98 { animation-delay: 4.9s; top: 294px }
div#circle-99 { animation-delay: 4.95s; top: 297px }
div#circle-100 { animation-delay: 5s; top: 300px }
div#circle-101 { animation-delay: 5.05s; top: 303px }
div#circle-102 { animation-delay: 5.1s; top: 306px }
div#circle-103 { animation-delay: 5.15s; top: 309px }
div#circle-104 { animation-delay: 5.2s; top: 312px }
div#circle-105 { animation-delay: 5.25s; top: 315px }
div#circle-106 { animation-delay: 5.3s; top: 318px }
div#circle-107 { animation-delay: 5.35s; top: 321px }
div#circle-108 { animation-delay: 5.4s; top: 324px }
div#circle-109 { animation-delay: 5.45s; top: 327px }
div#circle-110 { animation-delay: 5.5s; top: 330px }
div#circle-111 { animation-delay: 5.55s; top: 333px }
div#circle-112 { animation-delay: 5.6s; top: 336px }
div#circle-113 { animation-delay: 5.65s; top: 339px }
div#circle-114 { animation-delay: 5.7s; top: 342px }
div#circle-115 { animation-delay: 5.75s; top: 345px }
div#circle-116 { animation-delay: 5.8s; top: 348px }
div#circle-117 { animation-delay: 5.85s; top: 351px }
div#circle-118 { animation-delay: 5.9s; top: 354px }
div#circle-119 { animation-delay: 5.95s; top: 357px }
div#circle-120 { animation-delay: 6s; top: 360px }
div#circle-121 { animation-delay: 6.05s; top: 363px }
div#circle-122 { animation-delay: 6.1s; top: 366px }
div#circle-123 { animation-delay: 6.15s; top: 369px }
div#circle-124 { animation-delay: 6.2s; top: 372px }
div#circle-125 { animation-delay: 6.25s; top: 375px }
div#circle-126 { animation-delay: 6.3s; top: 378px }
div#circle-127 { animation-delay: 6.35s; top: 381px }
div#circle-128 { animation-delay: 6.4s; top: 384px }
div#circle-129 { animation-delay: 6.45s; top: 387px }
div#circle-130 { animation-delay: 6.5s; top: 390px }
div#circle-131 { animation-delay: 6.55s; top: 393px }
div#circle-132 { animation-delay: 6.6s; top: 396px }
div#circle-133 { animation-delay: 6.65s; top: 399px }

@keyframes animo {
  0% { background: #aa00ff; left: 4px; }
  100% { background: #00caff; left: 288px; }
}
